@charset "utf-8";

body {
    color:  #f08100;
    letter-spacing: 2px
}

a {
    color: #f08100
}

a:hover {
    text-decoration: none
}

h2 {
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 600
}

/*------------------------------*/
/*          $Reset
--------------------------------*/
ol, ul {
  list-style: none;
  margin:0;
  padding:0;
}

/*------------------------------*/
/*          $Fonts
--------------------------------*/
/* 中文、日文字元用 */
@font-face{
  font-family: "微軟正黑體";
  src: local("微軟正黑體");
  unicode-range: U+2E80-2FDF,U+3400-9FE6,U+20000-2B81D,U+3040-30FF;
}
/* 拉丁、英文字元用 */
@font-face{
  font-family: "Arial";
  src: local("Arial");
  unicode-range: U+0000-024F;
}